@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body {
    height: 100%;
}

body {
    background-color: #f7f6f2;
    color: #5f5f5f;
    font-family: 'PT Sans', sans-serif;

    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.header {
    border-bottom: solid 2px #e7e7e7;
    z-index: 5000;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f7f6f2;
    margin-bottom: 30px;
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.panel-divider {
    height: 0px;
    border-bottom: solid 1px #e7e7e7;
}

.panel-default, .panel-body, .panel-default>.panel-heading, .panel-footer {
    background-color: #f7f6f2;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #aaa;
    font-size: 0.7em;
}

.form-control{
    height: 41px;
    padding: 17px 12px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgba(255, 117, 6, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 117, 6, 0.6);
    outline: 0 none;
    background-color: #fefefe;
}

.input-group-vertical {
  margin-bottom: 10px;
}
.input-group-vertical .form-control {
  border-radius: 0;
}
.input-group-vertical .form-group {
  margin-bottom: 0;
}
.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}

.label-default {
    background-color: rgba(255, 117, 6, 0.8);
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: rgba(255, 117, 6, 0.5);
}

.text-warning {
    color: #ff8109;
}

.progress-bar-warning, .btn-warning {
    background-color: #ff8109;
}